body {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
}
table {
    width: 100%;

}
th {
    text-align: left;
}
.form {
    margin-top: 20px;
}
input[type="text"] {
    padding: 10px;
    width: 70%;
}
input[type="submit"] {
    padding: 10px
}